---
const templates = [
  {
    id: 1,
    title: "A. business card layout",
    siteImg:
      "https://images.pexels.com/photos/23744625/pexels-photo-23744625.jpeg?_gl=1*xgstfw*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM2ODk4JGoxJGwwJGgw",
    p: "Perfect starter for a business starting out. Voluptates commodi pariatur modi saepe assumenda accu sdam hic? Velit dolore ullam aliquam suscipit.",
    url: "https://template-left-nav-journal-layout-1.vercel.app/",
  },
  {
    id: 2,
    title: "B. Three page/ components",
    siteImg:
      "https://images.pexels.com/photos/17866368/pexels-photo-17866368.jpeg?_gl=1*xgstfw*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM2ODk4JGoxJGwwJGgw",
    p: "A three page template with all important things covered. Lorem iaepe assumenda accusamus cupiditate, eum doloribus atque explicabo adipisci consequatur quos quibusdam hic? Velit dolore ullam aliquam suscipit.",
    url: "https://lc-fish-expo-demo.vercel.app/",
  },
  {
    id: 3,
    title: "C. single pg journal",
    siteImg:
      "https://images.pexels.com/photos/158832/giraffe-reticulated-giraffe-neck-beautiful-158832.jpeg?_gl=1*dwowmo*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NzAyMzUzNTckbzI3JGcxJHQxNzcwMjM2OTU1JGo1MyRsMCRoMA..",
    p: "A single pg portfolio which covers all three comp, perfect for online art studio, or journal. Lorem iaepe assumenda accusamus cupiditate, eum doloribus atque explicabo adipisci consequatur quos quibusdam hic? Velit dolore ullam aliquam suscipit.",
    url: "https://template-left-nav-journal-layout-1.vercel.app/",
  },
];
---

<section id="packages-section" class="bg-">
  <div id="section-wrapper" class="p-auto flex justify-center">
    <div id="section-container" class="">
      <div class="2xl:p-5 p-1">
        <h2 class="font-semibold 2xl:text-4xl text-3xl">
          Which website would be best for my business?
        </h2>
        <p class="pt-1 pl-1 pb-5 my-1">
          Sometimes it can be difficult to settle on a design, or page layout.
          Laughing Coyote takes away this dilemna by offering three select
          templates. Each one is customizable.
        </p>
      </div>
      <div id="grid-container" class="2xl:px-5 px-1">
        <div
          id="grid"
          class="grid 2xl:grid-cols-3 md:grid-cols-2 grid-cols-1 2xl:gap-16 gap-8"
        >
          {
            templates.map((template) => (
              <div
                id="sq"
                class="rounded text-onyx border border-black bg-lavender"
              >
                <div id="top-bar-container" class="flex pl-3 pt-3">
                  <h2 class="2xl:text-lg text-medium capitalize font-semibold">
                    {template.title}
                  </h2>
                  <a
                    class="hover:opacity-80 hover:ease-in duration-300 text-2xl pl-1"
                    href={template.url}
                  >
                    {/* file open icon*/}
                  </a>
                </div>

                <a
                  class="hover:opacity-80 hover:ease-in duration-300 text-2xl pl-1"
                  href={template.url}
                >
                  <img
                    class="border-t border-b border-black"
                    src={template.siteImg}
                    alt=""
                  />
                </a>

                <div id="paragraph-container" class="p-3">
                  <p class="md:text-md text-sm">{template.p}</p>
                </div>
                {/* //todo later: ADD SLUG TO DESCRIBE WEBSITES MORE IN DETAIL v */}
                {/* <div id="bottom-bar-container" class="p-3">
        <div id="sm-container" class="flex">
      <div class="text-parchment bg-onyx py-1 px-2 text-sm">View Template</div>
      </div>
      </div> */}
                {/* //todo later: ADD SLUG TO DESCRIBE WEBSITES MORE IN DETAIL ^ */}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
