---
const { frontmatter } = Astro.props;
---

<div id="" class="text-onyx bg-">
  <div id="back-btn-wrapper" class="pt-5 text-lg bg-munsell">
    <a href="/" class="underline hover:text-white">
      {"<---"} back to home
    </a>
  </div>
  <div
    id="post-header-grid"
    class="grid 2xl:grid-cols-2 grid-cols-1 bg-munsell drop-shadow-xl"
  >
    <div id="left-sq" class="flex items-center 2xl:justify-center">
      <div class="2xl:pr-5 ml-2 py-2 px-5 my-[50px] w-3/4">
        <h1 class="md:text-5xl text-3xl pb-2 mt-1 text-onyx">
          {frontmatter.title}
        </h1>
        <p class="md:text-2xl pl-1 pt-1 pr-3 text-onyx opacity-75">
          {frontmatter.description}
        </p>
      </div>
    </div>
    <div
      id="left-sq"
      class="flex items-center bg-onyx border border-rosyBrown dropshadow-2xl rounded-tl-2xl"
    >
      <a href={frontmatter.websiteUrl}>
        <img
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="rounded-tl-2xl"
        />
      </a>
    </div>
  </div>
  <div
    id="body-content"
    class="text-munsel mt-[45px] 2xl:ml-[450px] lg:ml-[250px] ml-5 mr-[50px] mb-[55px] text-black"
  >
    <p class="text-2xl font-bold">{frontmatter.pubDate.slice(0, 10)}</p>
    <slot />
  </div>
</div>
